@using Neosoft_LeaveManagement.Constants
@model Neosoft_LeaveManagement.ViewModels.LeaveRequestViewModel

@{
    ViewData["Title"] = "Apply";
    ViewBag.UserId = Context.Session.GetInt32("UserId");
}

<h1>Apply</h1>

<h4>LeaveRequestViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Apply" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" type="hidden" value="@ViewBag.UserId" readonly />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeaveType" class="control-label"></label>
                <select asp-for="LeaveType" class="form-control">
                    <option value="0">--Select your LeaveType--</option>
                    @foreach (var type in Enum.GetValues(typeof(LeaveType)))
                    {
                        <option value="@type">@type</option>
                    }
                </select>
                <span asp-validation-for="LeaveType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reason" class="control-label"></label>
                <input asp-for="Reason" class="form-control" />
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
