@model Neosoft_LeaveManagement.ViewModels.LeaveBalanceViewModel

<div class="alert alert-info">
    <h5>Leave Balance</h5>
    <p><strong>Total Leaves:</strong> @Model.TotalLeaveDays</p>
    <p><strong>Remaining Leaves:</strong> @Model.RemainingLeaveDays</p>
</div>
